/* The group. */

$group-list-item-padding: 10px;

.group-list-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.group-list-item__item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  padding: $group-list-item-padding;
  cursor: pointer;

  // Prevent menu item text from being selected when user toggles menu.
  user-select: none;

  &--submenu {
    padding-top: 5px;
    padding-bottom: 5px;
    background: $grey-1;
    &:hover {
      background: $grey-1;
    }
  }

  &:focus {
    outline: none;
    @include focus-outline;
  }

  &:hover {
    background: $grey-1;
  }

  &.is-disabled {
    .group-list-item__label {
      color: $grey-4;
    }
  }

  &.is-expanded {
    background: $grey-1;
  }

  &.is-selected {
    border-left: 4px solid $brand;
    padding-left: $group-list-item-padding - 3px;
  }
}

.group-list-item__icon-container {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

// the icon indicating the type of group currently selected at
// the top of the groups list
.group-list-item__icon {
  color: $color-gray;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  vertical-align: baseline;

  // align the base of the chat-heads icon for groups
  // with the baseline of the group name label
  transform: translateY(1px);
}

.group-list-item__icon--organization {
  height: 15px;
  width: 15px;
  top: 2px;
}

// the name of a group in the groups drop-down list
// and 'Post to <Group>' button for saving annotations
.group-list-item__label {
  white-space: nowrap;
  color: inherit;

  // Make the link expand to fill the available space so that the user has a
  // large click target.
  display: flex;

  &:hover {
    color: inherit;
  }
}

.group-list-item__details {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 500;

  &--submenu {
    font-weight: 300;
  }

  &:hover {
    color: $brand;
  }
}

.group-list-item__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;

  // Add a wide transparent border to provide a large-enough hit target (~40px),
  // larger than the visual size of the button (~20px).
  background-color: $grey-1;
  background-clip: content-box;
  border: 7px solid transparent;

  // Add slight rounded borders. border-radius sets the outer radius, but
  // what the user sees is the inner radius, which is much smaller.
  border-radius: 12px;

  // This cancels out the padding on the parent and makes the toggle fill
  // up the full height of the item.
  margin: -10px;

  &:hover {
    background-color: $grey-3;
  }

  // The toggle icon is loaded from a string, so we can't apply a class to it
  // directly.
  svg {
    width: 12px;
    height: 12px;
  }

  @include outline-on-keyboard-focus;
}

// A footer which displays notes about this group when the submenu is expanded.
.group-list-item__footer {
  background-color: $grey-1;
  margin: 0;
  padding-top: 15px;
  padding: 10px;

  // Align the left edge of the footer text with menu item labels above.
  padding-left: 35px;
  white-space: normal;
}
