<header class="annotation-header" ng-if="!vm.user()">
  <strong>You must be logged in to create annotations.</strong>
</header>

<div ng-keydown="vm.onKeydown($event)" ng-if="vm.user()">

  <annotation-header annotation="vm.annotation"
                     is-editing="vm.editing()"
                     is-highlight="vm.isHighlight()"
                     is-private="vm.state().isPrivate"
                     on-reply-count-click="vm.onReplyCountClick()"
                     reply-count="vm.replyCount"
                     show-document-info="vm.showDocumentInfo">
  </annotation-header>

  <!-- Excerpts -->
  <section class="annotation-quote-list"
    ng-class="{'is-orphan' : vm.isOrphan()}"
    ng-if="vm.quote()">
    <excerpt collapsed-height="35"
      inline-controls="true"
      overflow-hysteresis="20"
      content-data="selector.exact">
      <blockquote class="annotation-quote"
        h-branding="selectionFontFamily"
        ng-bind="vm.quote()"></blockquote>
    </excerpt>
  </section>

  <!-- / Excerpts -->

  <!-- Body -->
  <section name="text" class="annotation-body">
    <excerpt enabled="!vm.editing()"
      inline-controls="false"
      on-collapsible-changed="vm.setBodyCollapsible(collapsible)"
      collapse="vm.collapseBody"
      collapsed-height="400"
      overflow-hysteresis="20"
      content-data="vm.state().text">
      <markdown text="vm.state().text"
                custom-text-class="{'annotation-body is-hidden':vm.isHiddenByModerator()}"
                on-edit-text="vm.setText(text)"
                read-only="!vm.editing()">
      </markdown>
    </excerpt>
  </section>
  <!-- / Body -->

  <!-- Tags -->
  <div class="annotation-body form-field" ng-if="vm.editing()">
    <tag-editor tags="vm.state().tags"
                on-edit-tags="vm.setTags(tags)"></tag-editor>
  </div>

  <div class="annotation-body u-layout-row tags tags-read-only"
       ng-if="(vm.canCollapseBody || vm.state().tags.length) && !vm.editing()">
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="tag in vm.state().tags">
        <a ng-href="{{vm.tagSearchURL(tag)}}" target="_blank">{{tag}}</a>
      </li>
    </ul>
    <div class="u-stretch"></div>
    <a class="annotation-link u-strong" ng-show="vm.canCollapseBody"
      ng-click="vm.toggleCollapseBody($event)"
      ng-title="vm.collapseBody ? 'Show the full annotation text' : 'Show the first few lines only'"
      ng-bind="vm.collapseBody ? 'More' : 'Less'"
      h-branding="highlightColor"></a>
  </div>
  <!-- / Tags -->

  <annotation-footer
    can-delete="vm.authorize('delete')"
    can-edit="vm.authorize('update')"
    editing="vm.editing()"
    group="vm.group()"
    has-content="vm.hasContent()"
    is-deleted="vm.isDeleted()"
    is-reply="vm.isReply()"
    is-saving="vm.isSaving"
    is-shared="vm.isShared()"
    on-delete="vm.delete()"
    on-edit="vm.edit()"
    on-reply="vm.reply()"
    on-revert="vm.revert()"
    on-save="vm.save()"
    on-set-privacy="vm.setPrivacy(level)"
    reply-count="vm.replyCount"
  ></annotation-footer>
</div>
